.product-text{
    padding: 20px;

}
.product-text span{
    color: #2dd8e0;
    font-size: 0.9em;
    margin: 5px 0px;
}
.product-text h1{
    font-size: 3.5em;
    max-width: 500px;
}
.product-text p{
    max-width: 300px;
}
.portfolio-btn{
    padding: 15px 25px;
    background: none;
    border-radius: 5px ;
    border: 1px solid #7a7a7a;
    transition: 1s;
}
.portfolio-btn:hover{
    background-color: #7a7a7a;
    color: white;
    transition: 1s;
    cursor: pointer;
}
.portfolio-btn:hover a{
    color: white;
}
.portfolio-btn a{
    text-decoration: none;
    color: #7a7a7a;
    font-weight: 700;
    font-size: 0.9em;
}